$redLight: #f75449;
$blueLight: #4955f7;

$lightMap: (
    "bg": white,
    "bgAlt": darken(white, 2),
    "bgAlt0": darken(white, 4),
    "bgAlt6": darken(white, 6),
    "bgAlt7": darken(white, 7),
    "bgAlt8": darken(white, 12),
    "bgAlt1": darken(white, 8),
    "bgAlt2": darken(white, 16),
    "bgAlt3": darken(white, 32),
    "bgAlt4": darken(white, 40),
    "bgAlt5": darken(white, 48),
    "red": $redLight,
    "redAlt": darken($redLight, 10),
    "redAlt1": darken($redLight, 14),
    "redBad": darken($redLight, 28),
    "blue": $blueLight,
    "blueAlt": darken($blueLight, 10),
    "blueAlt1": darken($blueLight, 14),
    "blueBad": darken($blueLight, 28),
    "bg0": #ededed,
    "bg1": rgba(0,0,0,0.1),
    "bg2": rgba(0,0,0,0.15),
    "bg3": rgba(0,0,0,0.2),
    "bg4": rgba(0,0,0,0.5),
    "fg1": #333,
    "text": black,
    "textAlt": lighten(black, 16),
    "textAlt0": lighten(black, 8),
    "border": 1px solid darken(white, 10),
    "borderAlt": 1px solid black,
    "border1": 1px solid darken(white, 20),
    "borderAlt1": 1px solid lighten(black, 40),
    "shadow-bottom": 0px 6px 15px 0px rgba(0, 0, 0, 0.25),
    "shadow-regular": 0px 0px 20px 5px rgba(0, 0, 0, 0.25),
    "ce-block--focused": linear-gradient(17deg,rgba(243,248,255,.03) 63.45%,rgba(207,214,229,.27) 98%)
);

$redDark: #b32f25;
$blueDark: #2552b3;

$darkMap: (
    "bg": black,
    "bgAlt": lighten(black, 2),
    "bgAlt0": lighten(black, 4),
    "bgAlt6": lighten(black, 8),
    "bgAlt7": lighten(black, 12),
    "bgAlt8": lighten(black, 24),
    "bgAlt1": lighten(black, 16),
    "bgAlt2": lighten(black, 32),
    "bgAlt3": lighten(black, 48),
    "bgAlt4": lighten(black, 56),
    "bgAlt5": lighten(black, 64),
    "red": $redDark,
    "redAlt": lighten($redDark, 8),
    "redAlt1": lighten($redDark, 16),
    "redBad": darken($redDark, 8),
    "blue": $blueDark,
    "blueAlt": lighten($blueDark, 8),
    "blueAlt1": lighten($blueDark, 16),
    "blueBad": darken($blueDark, 8),
    "bg0": rgb(18, 18, 18),
    "bg1": rgba(255,255,255,0.1),
    "bg2": rgba(255,255,255,0.15),
    "bg3": rgba(255,255,255,0.2),
    "bg4": rgba(255,255,255,0.5),
    "fg1": #CCC,
    "text": white,
    "textAlt": darken(white, 64),
    "textAlt0": darken(white, 32),
    "border": 1px solid lighten(black, 10),
    "borderAlt": 1px solid white,
    "border1": 1px solid lighten(black, 20),
    "borderAlt1": 1px solid darken(white, 40),
    "shadow-bottom": 0px 6px 15px 0px rgb(6, 7, 12),
    "shadow-regular": 0px 0px 20px 5px rgba(3, 2, 2, 0.95),
    "ce-block--focused": linear-gradient(17deg,rgba(0, 0, 0, 0.03) 63.45%,rgba(89, 92, 97, 0.068) 98%)
);

@mixin schemeResponsive($prop, $key, $default: 0) {
    $light: map-get($lightMap, $key);
    $dark: map-get($darkMap, $key);

    @if $default == 0 {
        $default: $light;
    } @else {
        $default: $dark;
    }

    #{$prop}: $default;

    @media (prefers-color-scheme: dark) {
        #{$prop}: $dark;
    }

    @media print {
        #{$prop}: $light;
    }

    @media (prefers-color-scheme: light) {
        #{$prop}: $light;
    }
}

@mixin bgSchemeResponsive($key, $default: 0) {
    @include schemeResponsive("background", $key, $default);
}

@mixin textSchemeResponsive($key, $default: 0) {
    @include schemeResponsive("color", $key, $default);
}

@mixin fillSchemeResponsive($key, $default: 0) {
    @include schemeResponsive("fill", $key, $default);
}

%bg {
    @include bgSchemeResponsive("bg");
}

%bgAlt {
    @include bgSchemeResponsive("bgAlt");
}

%bgAlt0 {
    @include bgSchemeResponsive("bgAlt0");
}

%bgAlt6 {
    @include bgSchemeResponsive("bgAlt6");
}

%bgAlt7 {
    @include bgSchemeResponsive("bgAlt7");
}

%bgAlt1 {
    @include bgSchemeResponsive("bgAlt1");
}

%bgAlt2 {
    @include bgSchemeResponsive("bgAlt2");
}

%bgAlt3 {
    @include bgSchemeResponsive("bgAlt3");
}

%bgAlt4 {
    @include bgSchemeResponsive("bgAlt4");
}

%bgAlt5 {
    @include bgSchemeResponsive("bgAlt5");
}

%bg0 {
    @include bgSchemeResponsive("bg0");
}

%bgRed {
    @include bgSchemeResponsive("red");
}

%bgRedAlt {
    @include bgSchemeResponsive("redAlt");
}

%bgRedBad {
    @include bgSchemeResponsive("redBad");
}

%bgRedAlt1 {
    @include bgSchemeResponsive("redAlt1");
}

%bgBlue {
    @include bgSchemeResponsive("blue");
}

%bgBlueAlt {
    @include bgSchemeResponsive("blueAlt");
}

%bgBlueBad {
    @include bgSchemeResponsive("blueBad");
}

%bgBlueAlt1 {
    @include bgSchemeResponsive("blueAlt1");
}

%bg1 {
    @include bgSchemeResponsive("bg1");
}

%bg2 {
    @include bgSchemeResponsive("bg2");
}

%bg3 {
    @include bgSchemeResponsive("bg3");
}

%bg4 {
    @include bgSchemeResponsive("bg4");
}

%fg1 {
    @include bgSchemeResponsive("fg1");
}

%text {
    @include textSchemeResponsive("text");
}

%textAlt {
    @include textSchemeResponsive("fg1");
}

%textAlt1 {
    @include textSchemeResponsive("textAlt");
}

%textAlt2 {
    @include textSchemeResponsive("textAlt0");
}

%fill {
    @include fillSchemeResponsive("fg1");
}

%border {
    @include schemeResponsive("border", "border");
}

%borderAlt {
    @include schemeResponsive("border", "borderAlt");
}

%borderAlt1 {
    @include schemeResponsive("border", "borderAlt1");
}

%border1 {
    @include schemeResponsive("border", "border1");
}

%borderRight {
    @include schemeResponsive("border-right", "border");
}

%borderBottom {
    @include schemeResponsive("border-bottom", "border");
}

%borderLeft {
    @include schemeResponsive("border-left", "border");
}

%borderTop {
    @include schemeResponsive("border-top", "border");
}

%borderLeftAlt {
    @include schemeResponsive("border-left", "borderAlt");
}


.labels-control, .labels-control-btn {
    @extend %bgAlt1;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 11px;
    margin: 5px;
    transition: background-color 0.0625s linear;
    cursor: pointer;

    & svg {
        @include fillSchemeResponsive("fg1");
        height: 15px;

        &.icon-invert {
            transform: rotate(180deg);
        }
    }

    & svg.alt-icon {
      display: none;
    }

    & svg:only-child {
        display: initial;
    }

    @media only screen and (max-width: 650px) {
      & .label-text:not(.no-kill) {
        display: none;
      }

      & svg {
        display: initial !important;
      }
    }

    &:hover {
      @extend %bgAlt6;
    }

    &.hiding-labels:not(:hover) {
      background: none;
    }

    &:not(.hiding-labels):hover {
      @extend %bgAlt7;

      &:active {
        @extend %bgAlt2;
      }
    }

    &:active {
      @extend %bgAlt2;
    }

    &.labels-control-btn {
      @extend %bgAlt6;

      display: flex;
      align-items: center;

      &:hover {
        @extend %bgAlt1;

        &.labels-control-btn-danger {
          @extend %bgRed;
          color: white;
        }
      }

      &.labels-control-btn-disabled {
        &:hover {
          cursor: not-allowed;
          @extend %bgAlt2;

          &.labels-control-btn-danger {
            @extend %bgRedBad;
          }
        }
      }
    }
  }